<div class="login" *ngIf="!isOn">
    <mat-card class="login-card">
        <mat-card-title>Login</mat-card-title>
        <br>
        <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Usuario</mat-label>
                <input matInput placeholder="Jose Macias">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input type="password" matInput placeholder="">
            </mat-form-field>
        </form>

        <mat-card-actions align="end">
            <button mat-raised-button color="primary">Acceder</button>
            <a mat-button (click)="isOn = true">Registrarse
            </a>
        </mat-card-actions>
    </mat-card>
</div>
<app-usuario *ngIf="isOn"></app-usuario>

